<div class="navbar navbar-default" role="navigation">
    <div class="container">
      <div class="navbar-header">

        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#js-navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

        <a class="navbar-brand" href="">House Administrator</a>
      </div>
      <div class="collapse navbar-collapse" id="js-navbar-collapse">
        <ul class="nav navbar-nav">
          <li ui-sref-active="active">
            <a ui-sref="api.home">Home</a>
          </li>
          <li ui-sref-active="active">
            <a ui-sref="api.dashboard">Dashboard</a>
          </li>
          <li ui-sref-active="active">
            <a ui-sref="api.charts">Charts</a>
          </li>
          <li ui-sref-active="active">
            <a ui-sref="api.sensor_view">House plan</a>
          </li>
          <li ui-sref-active="active">
            <a ui-sref="api.profiles">Profiles</a>
          </li>
          <li ui-sref-active="active">
            <a ui-sref="api.settings">Settings</a>
          </li>
          <li ui-sref-active="active">
            <a ui-sref="api.logout">Logout</a>
          </li>
        </ul>
      </div>
    </div>
  </div>

