<div class="col-lg-3 col-md-6">
    <div class="panel panel-{{colour}}">
        <div class="panel-heading">
            <div class="row">
                <div class="col-xs-3">
                    <i class="fa fa-{{icon}} fa-5x"></i>
                </div>
                <div class="col-xs-9 text-right">
                    <div class="huge" style="font-weight: bold;">{{profile.name}}</div>
                    <div>{{profile.desc}}</div>
                </div>
            </div>
        </div>
        <div class="panel-footer">
            <span class="pull-left">Edit</span>
            <span class="pull-right"><button type="button" class="btn btn-default btn-circle" ng-click="fnDetailsAbout({prf: profile})"><i class="fa fa-arrow-circle-right"></i></button></span>
            <!--<span class="pull-right"><button type="button" class="btn btn-default btn-circle" ng-click="viewDetails()"><i class="fa fa-arrow-circle-right"></i></button></span>-->
            <div class="clearfix"></div>
        </div>
    </div>