<form name="newRelayProfileForm" class="form form-horizontal">
    Create new relay profile
    <fieldset class="form-group">
        <input type="email" class="form-control" id="name" placeholder="Enter name" ng-model="relayConf.name">
    </fieldset>
    <fieldset class="form-group">
        <textarea class="form-control" id="description" rows="2" placeholder="Enter short description (100 letters)." ng-model="relayConf.desc"></textarea>
    </fieldset>
    <fieldset class="form-group">
        <label id="datePickerStart">From:</label>
        <p class="input-group">
            <input type="date" class="form-control" uib-datepicker-popup is-open="openedS" min-date="minDate" datepicker-options="dateOptions"
            date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" ng-disabled="repeatEveryWeek" ng-model="relayConf.startDate"
            id="datePickerStart" />
            <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="openStart($event)" ng-disabled="repeatEveryWeek">
                    <i class="glyphicon glyphicon-calendar"></i>
                </button> 
            </span>
        </p>
    </fieldset>
    <fieldset class="form-group">
        <label id="datePickerEnd">To:</label>
        <p class="input-group">
            <input type="date" class="form-control" uib-datepicker-popup is-open="openedE" min-date="minDate" datepicker-options="dateOptions"
            date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" ng-disabled="repeatEveryWeek" ng-model="relayConf.endDate"
            id="datePickerEnd" />
            <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="openEnd($event)" ng-disabled="repeatEveryWeek">
                    <i class="glyphicon glyphicon-calendar"></i>
                </button> 
            </span>
        </p>
    </fieldset>
    <fieldset class="form-group">
        <table st-table="relayConf.settings" class="table table-stripped">
            <thead>
                <tr>
                    <th>Days</th>
                    <th>Time start</th>
                    <th>Time end</th>
                    <th>Relays</th>
                    <th>Active</th>
                </tr>
            </thead>
            <tbody>
                <tr light-node ng-repeat="relayNode in relayConf.settings" id="relayNode.id" days="relayNode.days" start="relayNode.start" end="relayNode.end" isActive="relayNode.isActive" lights="relayNode.lights"></tr>
            </tbody>
        </table>
        
        <button type="button" ng-click="addRow()" class="btn btn-sm btn-primary">
            <i class="glyphicon glyphicon-plus"> </i> Add new row
        </button>
        <button type="button" ng-click="removeRow()" class="btn btn-sm btn-primary">
            <i class="glyphicon glyphicon-remove-circle"></i> Remove last row
        </button>
    </fieldset>
    <fieldset>
        <button class="btn btn-success btn-circle" type="button" ng-click="saveProfile()">
            <i class="fa fa-check"></i> Save
        </button>
        <button class="btn btn-danger btn-circle" type="button" text="Cancel" ng-click="cancelProfile()">
            <i class="fa fa-times"></i> Cancel
        </button>
    </fieldset>
</form>