.ad {
  position: absolute;
  bottom: 70px;
  right: 48px;
  z-index: 992;
  background-color:#f3f3f3;
  position: fixed;
  width: 155px;
  padding:1px;
}

.ad-btn-hide {
  position: absolute;
  top: -10px;
  left: -12px;
  background: #fefefe;
  background: rgba(240,240,240,0.9);
  border: 0;
  border-radius: 26px;
  cursor: pointer;
  padding: 2px;
  height: 25px;
  width: 25px;
  font-size: 14px;
  vertical-align:top;
  outline: 0;
}

.carbon-img {
  float:left;
  padding: 10px;
}

.carbon-text {
  color: #888;
  display: inline-block;
  font-family: Verdana;
  font-size: 11px;
  font-weight: 400;
  height: 60px;
  margin-left: 9px;
  width: 142px;
  padding-top: 10px;
}

.carbon-text:hover {
  color: #666;
}

.carbon-poweredby {
  color: #6A6A6A;
  float: left;
  font-family: Verdana;
  font-size: 11px;
  font-weight: 400;
  margin-left: 10px;
  margin-top: 13px;
  text-align: center;
}
