<form name="newHeaterProfileForm" class="form form-horizontal">
    Create new heater profile
    <fieldset class="form-group">
        <input type="email" class="form-control" id="name" placeholder="Enter name" ng-model="heaterConf.name">
    </fieldset>
    <fieldset class="form-group">
        <textarea class="form-control" id="description" rows="2" placeholder="Enter short description (100 letters)." ng-model="heaterConf.desc"></textarea>
    </fieldset>
    <fieldset class="form-group">
        <label id="datePickerStart">From:</label>
        <p class="input-group">
            <input type="date" class="form-control" uib-datepicker-popup is-open="openedS" min-date="minDate" datepicker-options="dateOptions"
            date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" ng-disabled="repeatEveryWeek" ng-model="heaterConf.startDate"
            id="datePickerStart" />
            <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="openStart($event)" ng-disabled="repeatEveryWeek">
                    <i class="glyphicon glyphicon-calendar"></i>
                </button> 
            </span>
        </p>
    </fieldset>
    <fieldset class="form-group">
        <label id="datePickerEnd">To:</label>
        <p class="input-group">
            <input type="date" class="form-control" uib-datepicker-popup is-open="openedE" min-date="minDate" datepicker-options="dateOptions"
            date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" ng-disabled="repeatEveryWeek" ng-model="heaterConf.endDate"
            id="datePickerEnd" />
            <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="openEnd($event)" ng-disabled="repeatEveryWeek">
                    <i class="glyphicon glyphicon-calendar"></i>
                </button> 
            </span>
        </p>
    </fieldset>
    <fieldset class="form-group">


        <!--<table st-table="rowCollection" class="table table-striped">
            <thead>
                <tr>
                    <th>first name</th>
                    <th>last name</th>
                    <th>birth date</th>
                    <th>balance</th>
                    <th>email</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="row in rowCollection">
                    <td>{{row.firstName}}</td>
                    <td>{{row.lastName}}</td>
                    <td>{{row.birthDate}}</td>
                    <td>{{row.balance}}</td>
                    <td>{{row.email}}</td>
                </tr>
            </tbody>
        </table>-->


        <table st-table="heaterConf.settings" class="table table-stripped">
            <thead>
                <tr>
                    <th>Days</th>
                    <th>Time start</th>
                    <th>Time end</th>
                    <th>Avg. temp</th>
                </tr>
            </thead>
            <tbody>
                <!--<tr ng-repeat="heaterNode in heaterNodesCollection" id="heaterNode.id" days="heaterNode.days" start="heaterNode.start" end="heaterNode.end" avgTemp="heaterNode.avgTemp" profile-node></tr>-->
                <tr heater-node ng-repeat="heaterNode in heaterConf.settings" id="heaterNode.id" days="heaterNode.days" start="heaterNode.start" end="heaterNode.end" avgTemp="heaterNode.avgTemp"></tr>
            </tbody>
        </table>
        
        <button type="button" ng-click="addRow()" class="btn btn-sm btn-primary">
            <i class="glyphicon glyphicon-plus"> </i> Add new row
        </button>
        <button type="button" ng-click="removeRow()" class="btn btn-sm btn-primary">
            <i class="glyphicon glyphicon-remove-circle"></i> Remove last row
        </button>
    </fieldset>
    <fieldset>
        <button class="btn btn-success btn-circle" type="button" ng-click="saveProfile()">
            <i class="fa fa-check"></i> Save
        </button>
        <button class="btn btn-danger btn-circle" type="button" text="Cancel" ng-click="cancelProfile()">
            <i class="fa fa-times"></i> Cancel
        </button>
    </fieldset>
</form>