<form name="newProfileForm" class="form form-horizontal">
    <fieldset class="form-group">
        <input type="email" class="form-control" id="name" placeholder="Enter name">
    </fieldset>
    <fieldset class="form-group">
        <textarea class="form-control" id="description" rows="3" placeholder="Enter short description (100 letters)."></textarea>
    </fieldset>
    <fieldset class="form-group">
        <label id="datePickerStart">From:</label>
        <p class="input-group">
            <input type="date" class="form-control" uib-datepicker-popup is-open="openedS" min-date="minDate" datepicker-options="dateOptions"
            date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" ng-disabled="repeatEveryWeek" ng-model="calDateStart"
            id="datePickerStart" />
            <span class="input-group-btn">
								<button type="button" class="btn btn-default" ng-click="openStart($event)" ng-disabled="repeatEveryWeek">
									<i class="glyphicon glyphicon-calendar"></i>
								</button> 
                </span>
        </p>
    </fieldset>
    <fieldset class="form-group">
        <label id="datePickerEnd">To:</label>
        <p class="input-group">
            <input type="date" class="form-control" uib-datepicker-popup is-open="openedE" min-date="minDate" datepicker-options="dateOptions"
            date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" ng-disabled="repeatEveryWeek" ng-model="calDateEnd"
            id="datePickerEnd" />
            <span class="input-group-btn">
								<button type="button" class="btn btn-default" ng-click="openEnd($event)" ng-disabled="repeatEveryWeek">
									<i class="glyphicon glyphicon-calendar"></i>
								</button> 
                </span>
        </p>
    </fieldset>
    <fieldset class="form-group">
        <label class="btn btn-primary" ng-model="days.monday" btn-checkbox>M</label>
        <label class="btn btn-primary" ng-model="days.tuesday" btn-checkbox>T</label>
        <label class="btn btn-primary" ng-model="days.wendesday" btn-checkbox>W</label>
        <label class="btn btn-primary" ng-model="days.thursday" btn-checkbox>T</label>
        <label class="btn btn-primary" ng-model="days.friday" btn-checkbox>F</label>
        <label class="btn btn-primary" ng-model="days.saturday" btn-checkbox>S</label>
        <label class="btn btn-primary" ng-model="days.sunday" btn-checkbox>S</label>
    </fieldset>
    <fieldset class="form-group">
        <label for="configurationList">Add new</label>
        <select  class="form-control" id="configurationList" ng-model="configurationSelected" ng-change="onConfigurationSelected()">
            <option value="1">heater configuration</option>
            <option value="2">relay configuration</option>
            <option value="3">light configuration</option>
        </select>
    </fieldset>
</form>