<td>
    <label class="btn btn-primary" ng-model="days.monday" uib-btn-checkbox>M</label>
    <label class="btn btn-primary" ng-model="days.tuesday" uib-btn-checkbox>T</label>
    <label class="btn btn-primary" ng-model="days.wendesday" uib-btn-checkbox>W</label>
    <label class="btn btn-primary" ng-model="days.thursday" uib-btn-checkbox>T</label>
    <label class="btn btn-primary" ng-model="days.friday" uib-btn-checkbox>F</label>
    <label class="btn btn-primary" ng-model="days.saturday" uib-btn-checkbox>S</label>
    <label class="btn btn-primary" ng-model="days.sunday" uib-btn-checkbox>S</label>
</td>
<td>
    <uib-timepicker ng-model="start" hour-step="1" minute-step="1" show-meridian="ismeridian"></uib-timepicker>
</td>
<td>
    <uib-timepicker ng-model="end" hour-step="1" minute-step="1" show-meridian="ismeridian"></uib-timepicker>
</td>
<td>
    <select multiple ng-model="condition.light" ng-change="selectChange()">
        <option disabled>floorId_roomId_relayId_name</option>
        <option ng-repeat="light in lights">{{light.floorId}}_{{light.roomId}}_{{light.relayId}}_{{light.name}}</option>        
    </select>
</td>
<td>
    <input bs-switch type="checkbox" ng-model="isActive" ng-true-value="'on'" ng-false-value="'off'" ng-change="onBtnSwitch()">
</td>