<div class="jumbotron" ng-controller="AboutCtrl">
  <h1>HomeAdmin App</h1>
  <p class="lead">
    Single page application for home administration.
  </p>

  <p>
  <div class="row">
    <div class="col-xs-12">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      Aliquam ac purus aliquam, consectetur est ut, dapibus enim.
      Cras scelerisque, lorem vel porta laoreet, urna ante gravida leo, ut blandit leo nulla sit amet odio.
      Fusce dictum porttitor ornare. Morbi vel lorem convallis, semper mi sed, elementum ante.
      Etiam dictum mollis facilisis. Quisque vel tortor nisi.
      Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
      Sed cursus interdum nisl vel convallis. Proin rutrum arcu tortor, et viverra nulla ultricies quis.
      Fusce malesuada suscipit porttitor. Vestibulum faucibus scelerisque dignissim.
    </div>
  </div>
  </p>
  <!--<p><a class="btn btn-lg btn-success" ng-href="#/">Splendid!<i class="fa fa-check"></i></a></p>-->
</div>
