<div class="row"  style="margin-bottom: 10px">    
    <div class="col-xs-6">
        <div class="range">
            <label>Refresh rate[ms]:</label>            
            <input type="range" name="range" min="1" max="100" value="50" onchange="range.value=value" ng-model="refreshRate">
            <output id="range">{{refreshRate}}</output>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12" id="line-chart">
        <div class="panel panel-default">
            <div class="panel-heading">Temperature
                <span class="fa fa-fire" ng-hide="heatingStarted"></span>
            </div>
            <div class="panel-body">
                <highchart id="tempChart" config="tempChartConfig"></highchart>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">Humidity</div>
            <div class="panel-body">
                <highchart id="humChart" config="humChartConfig"></highchart>
            </div>
        </div>
    </div>
</div>