<!--<ul class="nav nav-tabs">
    <li ng-repeat="floor in floors" ngModel="selectedFloor"><a data-toggle="tab" ui-sref="{{'#floor_'+floor.floor}}" href="{{'#floor_'+floor.floor}}">Floor {{floor.floor}}</a></li>
</ul>-->

<!--<div data-house-id="" class="col-lg-4 col-xs-10 " style="padding-top: 10px">
    
    <div ng-repeat="room in selectedFloor.rooms">
        <div class="panel panel-default" id="{{room.id}}">
            <div class="panel-heading">{{room.name}}</div>
            <div class="panel-body">
                <button type="button" ng-repeat="relay in room.relays" ng-class="relay.active ? 'btn btn-success': 'btn btn-danger'" id="{{room.id + '_' + relay.id}}"
                ng-click="toggleStatus(room.id, relay.id)" style="margin-right: 5px">
                    {{relay.name}}
                </button>
            </div>
        </div>
    </div>
</div>-->
<div data-house-id="" style="padding-top: 10px">
    <button type="button" ng-class="isAllCurtainToggle ? 'btn btn-success' :'btn btn-danger' " ng-click="closeAllCurtains($event)"
    style="margin-bottom: 5px">All curtains</button>
    <button type="button" ng-class="isPowerOn ? 'btn btn-success' : 'btn btn-danger'" ng-click="onTogglePowerClicked($event)"
    style="margin-bottom: 5px">Power</button>
    <div class="panel panel-default" ng-repeat="floor in floors">
        <div class="panel-heading">
            Floor {{floor.floor}}
        </div>
        <div class="panel-body">
        <div ng-repeat="room in floor.rooms" class="col-lg-4 col-xs-6 ">
            <div class="panel panel-default" id="{{floor.floor + '_' + room.id}}">
                <div class="panel-heading">{{room.name}}</div>
                <div class="panel-body">
                    <button type="button" ng-repeat="relay in room.relays" ng-class="relay.active ? 'btn btn-success': 'btn btn-danger'" id="{{floor.floor + '_' + room.id + '_' + relay.id}}"
                    ng-click="toggleStatus(floor.floor, room.id, relay.id)" style="margin-right: 5px">
                        {{relay.name}}
                    </button>
                </div>
            </div>
        </div>
    </div>
    </div>
</div>