<div class="jumbotron" style="width: 50%; margin: auto">
  <h1>'Allo, 'Allo!</h1>
  <p class="lead">
    <img src="images/yeoman.png" alt="I'm Yeoman"><br>
    Always a pleasure scaffolding your apps.
  </p>

  <p>
  <div class="row">
    <div class="col-xs-12 col-md-6">
      <a ui-sref="api.dashboard" class="btn btn-primary btn-lg btn-block" style="margin-bottom: 5px">
        <span class="fa fa-dashboard"></span>  Dashboard
      </a>
    </div>
    <div class="col-xs-12  col-md-6">
      <a ui-sref="api.charts" class="btn btn-primary btn-lg  btn-block"  style="margin-bottom: 5px">
        <span class="fa fa-bar-chart"></span>  Charts
      </a>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12  col-md-6">
      <a ui-sref="api.sensor_view" class="btn btn-primary btn-lg btn-block" style="margin-bottom: 5px">
        <span class="fa fa-map-marker"></span>  Sensor view
      </a>
    </div>
    <div class="col-xs-12  col-md-6">
      <a ui-sref="api.profiles" class="btn btn-primary btn-lg  btn-block" style="margin-bottom: 5px">
        <span class="fa fa-calendar"></span>  Profiles
      </a>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12  col-md-12">
      <a ui-sref="api.settings" class="btn btn-primary btn-lg btn-block" style="margin-bottom: 5px">
        <span class="fa fa-cog"></span>  Settings
      </a>
    </div>
  </div>
  </p>
  <!--<p><a class="btn btn-lg btn-success" ng-href="#/">Splendid!<i class="fa fa-check"></i></a></p>-->
</div>
