<div class="row">
    <div class="col-lg-12">
        <div>
            <div ng-show="type == 'displayAll'" class="row">
                <div class="col-lg-12">
                    <stats ng-repeat="profile in profilesInfo" profile="profile" fn-details-about="viewDetailsAbout(prf)"></stats>
                </div>
            </div>
            <div class="btn-group" role="group">
                <button type="button" ng-click="addNewHeaterProfile()" class="btn btn-danger">
                    <i class="fa fa-fire"></i> Add new heater profile
                </button>
                <button type="button" ng-click="addNewLightProfile()" class="btn btn-success">
                    <i class="fa fa-lightbulb-o"></i> Add new light profile
                </button>
                <button type="button" ng-click="addNewRelayProfile()" class="btn btn-warning">
                    <i class="fa fa-bolt"></i> Add new relay profile
                </button>
            </div>
            <div heater-conf class="col-lg-12" style="padding-top: 5px" ng-show="type == 'heaterProfileCreator'" should-show="type" profile="selectedProfile">
            </div>
            <div light-conf class="col-lg-12" style="padding-top: 5px" ng-show="type == 'lightProfileCreator'" should-show="type" profile="selectedProfile">
            </div>
            <div relay-conf class="col-lg-12" style="padding-top: 5px" ng-show="type == 'relayProfileCreator'" should-show="type" profile="selectedProfile">
            </div>
        </div>
    </div>
</div>